.header {
  height: 100vh;
  min-height: 768px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.secondary_header {
  padding-top: 200px;
  /* height: 50vh; */
  min-height: 450px;
  position: relative;
  overflow: hidden;
}
.header_container {
  display: grid;
}
.header_container.header {
  grid-template-columns: 1fr 1fr;
}

.header_leftCol {
  padding-right: 48px;
}
.header_rightCol {
  display: flex;
  justify-content: center;
  position: relative;
}
/* .header_rightColImg_wrapper {
  position: absolute;
  width: 341px;
  height: 398px;
  border-radius: 16px;

  background-color: var(--light-purple);
} */
.header_rightColImg_wrapper {
  width: min(75vw, 341px);
  height: min(90vw, 398px);
  border-radius: 16px;
  object-fit: cover;
  background-color: var(--light-purple);
  transition: rotate(0deg);
  position: relative;
  z-index: 111;
}
.header_rightColImg_bg {
  content: "";
  position: absolute;
  width: min(75vw, 341px);
  height: min(90vw, 398px);
  border-radius: 16px;
  z-index: 0;
  transform: rotate(-10deg);
  background: var(--side-theme-color);
  animation-name: rotate_purple_card;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  z-index: 111;
}

@keyframes rotate_purple_card {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0);
  }
}
@media screen and (max-width: 767px) {
  .header_leftCol {
    padding-right: 0;
  }
  .header_container {
    grid-template-columns: 1fr;
    padding-top: 20vw;
    gap: 25px;
  }
  .header_container.header {
    grid-template-columns: 1fr;
  }
}
