.loader {
  border: 3px solid var(--bg-alternative);
  border-top-color: var(--side-theme-color);
  border-radius: 100%;
  animation: spin 0.8s linear infinite;
}

.loader_center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 50px 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
